{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<section>
  <h2>Create New Post</h2>
  <div class="mb-3">
    <label for="post-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="post-title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="post-content" class="form-label">Post Content</label>
    <textarea class="form-control" id="post-content" rows="3"></textarea>
  </div>
  <button type="submit" class="btn">Create</button>
</section>

<div class="d-grid gap-2">
  <button class="btn btn-primary " type="button">+ New Post</button>
</div>

<script src="/javascript/add-post.js"></script>