{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li class = "card">
      <a href="/dashboard/edit/{{post.id}}">{{> card-info post}}</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<div class="d-grid gap-2">
  <a href="/add"><button class="btn btn-primary" type="button">+ New Post</button></a>
</div>
